{:deps    {prismatic/schema           {:mvn/version "1.2.0"}
           org.danielsz/lang-utils    {:mvn/version "0.1.4"}
           io.zalky/tools.namespace   {:mvn/version "1.3.1-TNS-6"}
           io.aviso/pretty            {:mvn/version "1.1.1"}
           com.stuartsierra/component {:mvn/version "1.1.0"}}
 :aliases {:build {:deps       {io.zalky/build-clj {:git/url "https://github.com/zalky/build-clj.git"
                                                    :git/sha "b38281eda585731a7ba330e3d66ba2d8c74e4540"}}
                   :ns-default io.zalky.build}}}
